@model BETL20250326.AppWebMVC.Models.User

@{
    ViewData["Title"] = "crear";
}

<h1>crear</h1>

<h4>usuario</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Username" class="control-label">Nombre</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label asp-for="Password" class="control-label">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Roles</label>
                <select name="Role" class="form-control">
                    <option selected value="">Seleccionar</option>
                    <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                    <option value="GERENTE">GERENTE</option>
                </select>
            </div>
        </div>
        
    </div>

    <div class="row mt-3 mb-2">
        <div class="col-12">
            <input type="submit" value="crear" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-dark">cancelar</a>
        </div>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
